.Toolbar {
  position: absolute;
  width: 200px;
  height: 1080px;
  left: 0px;
  top: 0px;

  background: #158073;
}

.Flights {
  position: absolute;
  width: 1064px;
  height: 672px;
  left: calc(50% - 1064px / 2);
  top: calc(50% - 672px / 2 + 13px);

  background: #ffffff;
  border: 0.2px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

.ButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Button {
  padding-right: 1em;
}

.UserDetailsContainer {
  display: flex;
  flex-direction: column;
  padding-right: 7rem;
  padding-left: 5rem;
  justify-content: space-around;
}
.UserDisplay {
  display: flex;
  flex-direction: row;
}
.Text {
  font-weight: bold;
  padding-top: 0.5rem;
  padding-left: 1rem;
}
.Icon {
  padding-top: 1.45rem;
}
.DisplayComponent {
  display: flex;
  flex-direction: row;
}
.Organizer {
  display: flex;
  flex-direction: column;
}
.ParText {
  padding-left: 1rem;
  padding-top: 0.53rem;
}

.CancelButton {
  display: flex;
  justify-content: right;
}
