.Page {
  background-image: url("https://wallpaperaccess.com/full/3919997.jpg");
  height: 980px;
}

.PageItems {
  width: 20em;
  height: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.SignInText {
  text-align: center;
  font-size: large;
}

.SignInTitle {
  text-align: center;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}

.SignInButton {
  padding: 0;
  height: 10em;
}

.LockIcon {
  font-size: xx-large;
  padding-left: 4.5em;
}

.AirPlaneImage {
  width: 1920px;
  height: 720px;
}
