.componentHolder {
  display: inline-block;
}

.dateComp {
  padding-left: 7px;
  display: inline-block;
}

.button {
  display: flex;
  flex-direction: row;
}

.reset {
  display: flex;
}

.padder {
  margin-left: 500px;
}

.numbers {
  padding-left: 123px;
}
