.mainDiv {
  width: 100vw;
  height: 100vh;

  /* background image setup */
  background-image: url('AirplaneUser.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  background-size: cover;
}

.Toolbar {
  position: absolute;
  width: 200px;
  height: 1080px;
  left: 0px;
  top: 0px;

  /* background: #158073; */
  background: orange;
}

.Flights {
  position: absolute;
  margin-left: 9%;
  width: 850px;
  height: 672px;
  left: calc(50% - 1064px / 2);
  top: calc(50% - 870px / 2 + 13px);
  overflow-y: scroll;
  overflow-x: hidden;
  background: #ffffff;
  opacity: 0.95;
  border: 0.2px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

.Flights::-webkit-scrollbar {
  display: none;
}

.ButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Button {
  padding-right: 1em;
}

.UserDetailsContainer {
  display: flex;
  flex-direction: column;
  padding-right: 7em;
  padding-left: 5em;
}
.UserDisplay {
  display: flex;
  flex-direction: row;
}
.Text {
  font-weight: bold;

  padding-left: 1em;
}
.Icon {
  padding-top: 0.5em;
}
.DisplayComponent {
  display: flex;
  flex-direction: row;
  margin-top: 4em;
  margin-right: 1em;
}
.Organizer {
  display: flex;
  flex-direction: column;
}
.ParText {
  padding-left: 1em;
}
.Edit {
  margin-left: 24em;
  margin-top: 5em;
}

.flightCards {
  margin: 25px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
}

.loginButton {
  display: flex;
  flex-direction: row-reverse;
  margin: 15px;
}
